@model IEnumerable<QuanLiDiem.Models.DanhSachLHP>

<h2>Danh Sách Sinh Viên Lớp: @ViewBag.TenHP</h2>
<h4>Giảng Viên: @ViewBag.TenGiangVien</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>MSSV</th>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Ngành Học</th>
            <th>Điểm Cuối Kỳ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sinhVien in Model)
        {
            <tr>
                <td>@sinhVien.MSSV</td>
                <td>@sinhVien.HoTen</td>
                <td>@sinhVien.Email</td>
                <td>@sinhVien.TenNganh</td>
                <td>@sinhVien.DiemCuoiKy</td>
            </tr>
        }
    </tbody>
</table>
